body{
	width:400px;
	font-size:17px;
	background-color:#222222;
}
#name{
	text-align:center;
}
table{
	width:400px;
}
input{
	background-color:#555555;
}

thead{
	color:white;
}


tr:nth-child(odd){
	background-color:#333333;
}
tr:nth-child(even){
	background-color:#555555;
}


.fname{
	text-align:left;
}
.under{
	color:#00ff00;
	text-align:center;
}
.over{
	color:black;
	text-align:center;
}
.thru{
	text-align:center;
}
