body{
	width:400px;
	font-size:17px;
	background-color:#222222;
}
#name{
	text-align:center;
	color:#555555;
}
table{
	width:400px;
}
input{
	background-color:#555555;
}

th{
	color:#555555;
}

tr:hover{
	background-color:#404040;
}

.fname{
	text-align:left;
	color:#666666;
}

.under{
	color:#009900;
	text-align:center;
}
.over{
	color:black;
	text-align:center;
}
.thru{
	text-align:center;
	color:#666666;
}
.time{
	color:purple;
}
