body {
	width: 500px;
	overflow: scroll;
	font-size:15px;
}
button {

}

input{
	padding:9px;
	border:solid 1px #d5d5d5;
	outline:0;
	font:13px Verdana, Tahoma, sans-serif;
	width:200px;
	background:#ffffff;
}
input:hover, input:focus{
	border-color:black;
}
.button {
	border-radius: 3px;
	color: white;
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	margin-bottom: 18px;
	overflow: hidden;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#foot_note {
	display: block;
	font-size: 10px;
	text-align: center;
}

.fname{
	font-size:17px;
	color:orange;
}
.under{
	color:red;
}
.over{
	color:black;
}
.thru{
	color:green;
}
